{% extends 'base.html' %}

{% block content %}
	<br>
    <h1>What are your all-time faves?</h1>
    <br>
    <div>
    	<br>
    	<h2>Top Tracks</h2>
	    <table id='top_tracks' class="display" width="100%" table-layout="fixed" cellpadding="15" border="0">
		    <tbody>
		    	{% for i in range(0, 10, 2) %} 
	    		<tr>
	    			{% for track in top_tracks['items'][i:i+2] %} 
			    		<td width="5%">
		    				<a href={{ track['external_urls']['spotify'] }} target="_blank">
						        <img src={{ track['album']['images'][0]['url'] }} width="150" height="150">
						    </a>
			    		</td>
			    		<td width="20%">
			    			<a href={{ track['external_urls']['spotify'] }} target="_blank" style="color:#000000; text-decoration:none">
			    				<h5> {{ track['name'] }} </h5>
			    			</a>
			    			<a href={{ track['artists'][0]['external_urls']['spotify'] }} target="_blank" style="color:#000000; text-decoration:none">
			    				<p> {{ track['artists'][0]['name'] }} </p>
			    			</a>
			    		</td>
		    		{% endfor %} 
	      		</tr>
	      		{% endfor %} 
		    </tbody>
		</table>
		<br>
		<br>
    	<h2>Top Artists</h2>
    	<table id='top_artists' class="display" width="100%" table-layout="fixed" cellpadding="15" border="0">
		    <tbody>
		    	{% for i in range(0, 10, 2) %} 
	    		<tr>
	    			{% for artist in top_artists['items'][i:i+2] %} 
	    			<td width="5%">
	    				<a href={{ artist['external_urls']['spotify'] }} target="_blank">
					        <img src={{ artist['images'][0]['url'] }} width="150" height="150">
					    </a>
		    		</td>
		    		<td width="20%">
		    			<a href={{ artist['external_urls']['spotify'] }} target="_blank" style="color:#000000; text-decoration:none">
		    				<h5> {{ artist['name'] }} </h5>
		    			</a>
		    		</td>
		    		{% endfor %} 
	      		</tr>
	      		{% endfor %} 
		    </tbody>
		</table>
		<br>
    </div>
{% endblock %}


